%h1 Hello#index
%p Find me in app/views/hello/index.html.erb
%div{"data-controller" => "hello"}
  %h1{"data-target" => "hello.output"}
  %input{"data-target" => "hello.name", :type => "text"}/
  %button{"data-action" => "click->hello#greet"} Greet
