.row
  %h1 Listing todos
.row
  %table.table
    %thead
      %tr
        %th{colspan: 3} 操作
        %th id
        %th タスク名
        %th ステータス
        %th 担当者
        %th 開始予定日
        %th 終了予定日
        %th 登録者
        %th 更新者
    %tbody
      - @todos.each do |todo| 
        %tr
          %td
            = link_to todo do
              %i.far.fa-sticky-note
          %td
            = link_to edit_todo_path(todo) do
              %i.far.fa-edit
          %td
            = link_to todo, method: :delete, data: { confirm: 'Are you sure?' } do
              %i.fas.fa-trash-alt
          %td=todo.id
          %td=todo.name
          %td=todo.status
          %td=todo.user&.name
          %td=todo.scheduled_start_at
          %td=todo.scheduled_end_at
          %td=todo.created_by.name
          %td=todo.modified_by.name

.row
  = link_to new_todo_path, class: 'btn btn-action btn-primary btn-large s-circle' do
    %i.fas.fa-plus
