%p#notice= notice

.card
  .card-header
    =@todo.name
  .card-body
    .markdown-editor.preview-mode{data: {controller: 'markdown-editor'}}
      %textarea{data: {target: 'markdown-editor.txt'}}
        = @todo.description
      .markdown-body{data: {target: 'markdown-editor.viewer'}}
    =@todo.status
    =@todo.user&.name

= link_to 'Edit', edit_todo_path(@todo)
\|
= link_to 'Back', todos_path
